# 资源文件
res_-daily-notes
DailyLife/picOCR_toExcel/res
研究方向/机器学习/MicrosoftLearn/训练和评估回归模型/.ipynb_checkpoints
研究方向/机器学习/MicrosoftLearn/训练和评估回归模型/export

# 临时工
大三临时工.md
DailyLife/picOCR_toExcel/test.xlsx

# wiki文件
DailyNotes.wiki

# VSCode文件
.vscode/settings.json

# IDEA(Pycharm)文件
社区相关/LeetCode/.idea
BigDataMicroMajor/Python/DailyHomework/.idea
.idea
DailyLife/picOCR_toExcel/__pycache__

# WPS表格临时文件
~$时间树(伪).xlsx

# 未测试完成的脚本文件
健康打卡-auto.py
健康打卡-private.py
健康打卡.py

# 常用于测试的脚本文件
社区相关/LeetCode/globalTest.py
爬虫/GlobalTest.py
DailyLife/GlobalTest.py
Python/GlobalTest.py

# 用于对比版本更新的markdown文件
TMP.MD

# 配置文件
## 阿里云表格OCR配置
DailyLife/picOCR_toExcel/config.py
.vscode


# python练习题输出及资源文件
BigDataMicroMajor/Python/DailyHomework/Lesson9_stepWiseTask/out
BigDataMicroMajor/Python/DailyHomework/Lesson9_stepWiseTask/res
BigDataMicroMajor/Python/DailyHomework/Lesson11_numpy/res
BigDataMicroMajor/Python/DailyHomework/Lesson12_Matplotlib/res
BigDataMicroMajor/Python/DailyHomework/Lesson13_Matplotlib_visible/output
BigDataMicroMajor/Python/res
BigDataMicroMajor/Python/TestOnClass/res

# 测试用目录
TMP
ProgrammingLanguage/CPlusPlus/test
ProgrammingLanguage/TypeScript/Test